.App {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e00cf;
  padding: 5px;
  border-radius: 20px;
  width: 50vh;
  height: 35vh;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

.login > label {
  width: 42%;
  font-size: 26px;
  color: white;
}

.login h1{
  color: white;
}

.login > input {
  font-size: 16px;
  color: black;
}

#check {
  color: white;
  font-size: 20px;
}

#check input[type="checkbox"]{
  margin-right: 10px;
  transform: scale(2);
}

#botones{
  width: 31%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  margin-top: 8px;
}

#botones button{
  padding: 5px 10px;
  background-color: #00a7d1;
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

#botones button:hover {
  background-color: #00be19;
}